<div class="row">

    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Kategori </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kategori</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <div class="pills-regular">
            <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home"
                        href="javascript:void(0)" role="tab" aria-controls="home" aria-selected="true">Daftar
                        Kategori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile"
                        href="javascript:void(0)" role="tab" aria-controls="profile" aria-selected="false"><i
                            class="fas fa-plus-circle"></i> Tambah Kategori</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0">Nama Kategori</th>
                                    <th class="border-0">
                                        <div class="btn-group ml-auto float-lg-right">
                                            <button class="btn btn-sm btn-outline-light "><i class="far fa-edit"></i>
                                                Edit</button>
                                            <button class="btn btn-sm btn-outline-light ">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sub Kategori</td>
                                    <td>
                                        <div class="btn-group ml-auto float-lg-right">
                                            <button class="btn btn-sm btn-outline-light"> <i class="far fa-edit"></i>
                                                Edit</button>
                                            <button class="btn btn-sm btn-outline-light ">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sub Kategori</td>
                                    <td>
                                        <div class="btn-group ml-auto float-lg-right">
                                            <button class="btn btn-sm btn-outline-light "><i class="far fa-edit"></i>
                                                Edit</button>
                                            <button class="btn btn-sm btn-outline-light ">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0">Nama Kategori</th>
                                    <th class="border-0">
                                        <div class="btn-group ml-auto float-lg-right">
                                            <button class="btn btn-sm btn-outline-light "><i class="far fa-edit"></i>
                                                Edit</button>
                                            <button class="btn btn-sm btn-outline-light ">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sub Kategori</td>
                                    <td>
                                        <div class="btn-group ml-auto float-lg-right">
                                            <button class="btn btn-sm btn-outline-light"> <i class="far fa-edit"></i>
                                                Edit</button>
                                            <button class="btn btn-sm btn-outline-light ">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sub Kategori</td>
                                    <td>
                                        <div class="btn-group ml-auto float-lg-right">
                                            <button class="btn btn-sm btn-outline-light "><i class="far fa-edit"></i>
                                                Edit</button>
                                            <button class="btn btn-sm btn-outline-light ">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table><br><br>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination float-lg-right">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>      </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span>
                                       <span class="sr-only">Next</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card">
                        <h3 class="card-header">Tambah Kategori</h3>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="inputText3" class="col-form-label">Judul Kategori</label>
                                    <input id="inputText3" type="text" class="form-control"
                                        placeholder="Judul Kategori">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Deskripsi Kategori</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        placeholder="Deskripsi Kategori"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class=" card-body border-top">
                            <h5>Pilih Kategori</h5>
                            <form>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option placeholder="Pilih Kategori"></option>
                                    </select>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success">Simpan</button>
                                    <button type="submit" class="btn btn-danger float-right">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>