<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Konfirmasi Pengiriman </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Konfirmasi Pengiriman</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->

    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
            <h5 class="card-header">Konfirmasi Pengiriman </h5> 
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table datatable="ng" class="table table-head-fixed text-nowrap" id="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">No</th>
                                <th class="border-0">Id Pengiriman</th>
                                <th class="border-0">Tanggal Pengiriman</th>
                                <th class="border-0">Nama Pembeli </th>
                                <th class="border-0">Nama Barang</th>
                                <th class="border-0">Jumlah Barang</th>
                                <th class="border-0">Total Bayar</th>
                                <th class="border-0">Status Pengantaran</th>
                                <th class="border-0">Bukti Pengiriman</th>
                                <th class="border-0">Status Pengiriman</th>
                                <th class="border-0">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Product #1 </td>
                                <td>id000001 </td>
                                <td>20</td>
                                <td>$80.00</td>
                                <td>27-08-2018 01:22:12</td>
                                <td>Patricia J. King </td>
                                <td>Patricia J. King </td>
                                <td>Patricia J. King </td>
                                <td><span class="badge badge-pill badge-warning">Warning</span> </td>
                                <td>
                                    <div class="btn-group ml-auto float-lg-right">
                                        <button class="btn btn-sm btn-outline-light"> <i class="far fa-edit"></i>
                                            Edit</button>
                                        <button class="btn btn-sm btn-outline-light ">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table><br><br><br>
                    <div class="card-header"></div><br>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination float-lg-right">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>