<div class="row">
    <!--  pageheader  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-clipboard-list"></i> Managemen Transaksi </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">WPKS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Managemen Transaksi</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end pageheader  -->

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <div class="pills-regular">
            <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home"
                        href="javascript:void(0)" role="tab" aria-controls="home" aria-selected="true">Data
                        Parameter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile"
                        href="javascript:void(0)" role="tab" aria-controls="profile" aria-selected="false"><i
                            class="fas fa-plus-circle"></i> Tambah Data Parameter</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0">ID Managemen</th>
                                    <th class="border-0">Nama Bank Pembayaran</th>
                                    <th class="border-0">Nama Rekening Pembayaran</th>
                                    <th class="border-0">No Rekening Pembayaran</th>
                                    <th class="border-0">Batas Jumlah Pengiriman</th>
                                    <th class="border-0">Potongan</th>
                                    <th class="border-0">Status</th>
                                    <th class="border-0">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>
                                        <div class="btn-group ml-auto float-lg-right">
                                            <button class="btn btn-sm btn-outline-light"> <i class="far fa-edit"></i>
                                                Edit</button>
                                            <button class="btn btn-sm btn-outline-light ">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>Sub Kategori</td>
                                    <td>
                                        <div class="btn-group ml-auto float-lg-right">
                                            <button class="btn btn-sm btn-outline-light"> <i class="far fa-edit"></i>
                                                Edit</button>
                                            <button class="btn btn-sm btn-outline-light ">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table><br><br>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination float-lg-right">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next"><span
                                            aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card">
                        <h3 class="card-header">Tambah Data Parameter</h3>
                        <div class="card-body">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <form id="validationform" data-parsley-validate="" novalidate="">
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-left">Id Managemen</label>
                                        <div class="col-12 col-sm-8 col-lg-7">
                                            <input type="text" required="" placeholder="Id Managemen"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-left">Nama Bank
                                            Pembayaran</label>
                                        <div class="col-12 col-sm-8 col-lg-7">
                                            <input type="text" required="" data-parsley-minlength="6"
                                                placeholder="Nama Bank Pembayaran" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-left">Nama Rekening
                                            Pembayaran</label>
                                        <div class="col-12 col-sm-8 col-lg-7">
                                            <input type="text" required="" data-parsley-minlength="6"
                                                placeholder="Nama Rekening Pembayaran" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-left">No Rekening
                                            Pembayaran</label>
                                        <div class="col-12 col-sm-8 col-lg-7">
                                            <input type="text" required="" data-parsley-minlength="6"
                                                placeholder="No Rekening Pembayaran" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-left">Batas Jumlah
                                            Pengiriman</label>
                                        <div class="col-12 col-sm-8 col-lg-2">
                                            <input type="text" required="" data-parsley-minlength="6" placeholder=""
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-left">Potongan</label>
                                        <div class="col-12 col-sm-8 col-lg-2">
                                            <input type="text" required="" data-parsley-minlength="6" placeholder=""
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-left">Status</label>
                                        <div class="col-12 col-sm-8 col-lg-2">
                                            <input type="text" required="" data-parsley-minlength="6" placeholder=""
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-left"></label>
                                        <div class="col-12 col-sm-8 col-lg-7 ">
                                            <div class="float-right">
                                                <button type="submit" class="btn btn-danger ">Cancel</button>
                                                <button type="submit" class="btn btn-success ">Tambah</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>