<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h3 class="card-header text-center mt-1 ">Order Barang Pembeli</h3>
            <div class="card-body">
                <form id="validationform" data-parsley-validate="" novalidate="">
                    <h3 class="text-left m-b-0 mt-0">Detail Pembeli</h3>
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Nama Penerima</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input type="text" required="" placeholder="Nama Penerima" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">No. Kontak</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <input data-parsley-type="number" type="text" required="" placeholder="Enter only numbers"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row border-bottom">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Alamat</label>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <textarea required="" class="form-control"></textarea>
                        </div>
                    </div>
                    <h3 class="text-left pt-3">Pembayaran</h3>
                    <div class="form-group row border-bottom">
                        <label class="col-12 col-sm-3 col-form-label text-sm-right mt-0 m-t-0" for="input-select">Pilih
                            Bank</label>
                        <div class="col-12 col-sm-8 col-lg-2">
                            <select required="" data-parsley-type="input-select" class="form-control">
                                <option>Muamalat Syariah</option>
                            </select>
                        </div>
                    </div>
                    <h3 class="text-left m-b-0 pt-3">Detail Belanja</h3>
                    <div class="row">
                        <div class="col-12 col-sm-3 text-sm-right align-items-center mt-0">
                            <img src="assets/images/slack.png" alt="User Avatar" class="user-avatar-xl">
                        </div>
                        <div class="col-12 col-sm-8 col-lg-6">
                            <div class="influencer-profile-data">
                                <a class="mt-0 text-dark strong font-22">Nama Toko</a>
                                <br>
                                <span class="m-r-20 strong font-18 d-inline-block">Nama Barang</span>
                                <span class="float-right d-inline-block mt-1">Total Rp.
                                    <span class="m-l-5 text-primary font-18">100.000.000</span>
                                </span>
                                <span class="float-right col-3 d-inline-block mt-1"> Jumlah :
                                    <span class="m-l-5 text-secondary">30</span>
                                </span>
                                <br>
                                <span class="m-r-20 strong font-16 d-inline-block">Status Pengantaran</span>
                                <span class="badge badge-success">Diterima</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right">Total Bayar</label>
                    <div class="col-12 col-sm-8 col-lg-2 mt-1 strong font-18 text-primary">
                        Rp 100.000.000</div>
                        <span class="float-right"><button class="d-inline-block btn btn-primary" type="submit">Pesan Sekarang</button></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $('#form').parsley();
</script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>