<div class="row">
    <div class="col border-bottom m-b-20">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="user-avatar float-xl-left pr-4 float-none">
                            <img src="assets/images/avatar-1.jpg" alt="User Avatar"
                                class="rounded-circle user-avatar-xl">
                        </div>
                        <div class="pl-xl-3">
                            <div class="m-b-0">
                                <div class="user-avatar-name d-inline-block">
                                    <h2 class="font-24 m-b-10">TOKO KAYU</h2>
                                </div>
                                <div class="float-xl-right float-none mt-xl-0 mt-4 m-l-10">
                                    <p class="font-16 m-b-10"> Keterangan Toko </p>
                                    <p class="break-word">Vestibulumin augue posuere congue.
                                        Peneit amet, porta semper nisi. Simple card title bottom line
                                    </p>
                                </div>
                            </div>
                            <div class="user-avatar-address">
                                <p class="mb-2"><i class="fas fa-at"></i> <a href="#"
                                        class="user-avatar-email text-primary">barbara@mail.com</a><span
                                        class="m-l-10"><i class="fas fa-phone mr-2 text-success"></i>081234567890<span
                                            class="m-l-10"> <i class="fa fa-map-marker-alt mr-2 text-primary"></i>Salt
                                            Lake City,UT</span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="float-xl-right float-none mt-xl-0 mt-4">
                            <a href="#" class="btn btn-outline-secondary"><i class="fas fa-comments"></i> Chat
                                Penjual</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                        <h3> Daftar Barang </h3>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mt-1">
                        <input type="text" class="form-search" placeholder="Cari Di Toko Ini">
                    </div>
                    <div class="col-xl col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="float-xl-right float-none mt-xl-0 mt-4">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
                                data-target="#bkategori">Kategori<span class="caret"></span>
                            </button>
                            <ul id="bkategori" class="dropdown-menu connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/assets/images/github.png"
                                                    alt=""> <span>Kayu 1</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/assets/images/dribbble.png"
                                                    alt=""> <span>Kayu 2</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/assets/images/dropbox.png"
                                                    alt=""> <span>Kayu 3</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/assets/images/bitbucket.png"
                                                    alt=""> <span>Kayu 4</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/assets/images/mail_chimp.png"
                                                    alt=""><span>Kayu 5</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/assets/images/slack.png"
                                                    alt=""> <span>Kayu 6</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card text-white">
                            <img class="card-img" src="/assets/images/card-img.jpg" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title  text-white">Card title</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#" class="btn btn-primary float-right">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card text-white">
                            <img class="card-img" src="/assets/images/card-img.jpg" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title  text-white">Card title</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#" class="btn btn-primary float-right">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card text-white">
                            <img class="card-img" src="/assets/images/card-img.jpg" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title  text-white">Card title</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#" class="btn btn-primary float-right">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card text-white">
                            <img class="card-img" src="/assets/images/card-img.jpg" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title  text-white">Card title</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="#" class="btn btn-primary float-right">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>